# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

#trigger:
#- master

trigger:
  branches:
    include:
    - master
#    exclude:
#    - '*'
  paths:
    exclude:
    - azure-pipelines-download-osm.yml
    - azure-polygon-pipelines.yml

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: env
  displayName: 'print env'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
#- task: Maven@4
#  inputs:
#    mavenPomFile: 'pom.xml'
#    publishJUnitResults: true
#    testResultsFiles: '**/surefire-reports/TEST-*.xml'
#    javaHomeOption: 'JDKVersion'
#    mavenVersionOption: 'Default'
#    mavenAuthenticateFeed: false
#    effectivePomSkip: false
#   sonarQubeRunAnalysis: false

#- task: PublishPipelineArtifact@1
#  inputs:
#    targetPath: '$(Build.SourcesDirectory)/target'
#    artifact: 'osm-tools-jars'
#    publishLocation: 'pipeline'

- task: Docker@2
  inputs:
    containerRegistry: 'docker-krizleebear'
    repository: 'krizleebear/osm-tools'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.SourceBranchName)-$(Build.SourceVersion)
      $(Build.SourceBranchName)-latest
      latest