# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

#trigger:
#- master

trigger:
  enabled: false
  batch: true
  branches:
    include:
    - master
    exclude:
    - features/experimental/*
  paths:
    exclude:
    - azure-pipelines-download-osm.yml
    - azure-polygon-pipelines.yml

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: env
  displayName: 'print env'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    publishJUnitResults: false
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Build.SourcesDirectory)/target'
    artifact: 'osm-tools-jars'
    publishLocation: 'pipeline'